@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
}


.Header {
    margin: 0;
    padding: 5px;
    font-weight: bolder;
    font-size: 40px;
    background-color: cyan;
    justify-content: center;
    display: flex;
    justify-content: center;
    /* background-image: url("./j4_-_Copy.png");  */
    /* need to figure out how to make work on all computers*/
    background-repeat: no-repeat;
    background-size: 220px 270px;
}

/* .routeButton {
    padding: 0px;
    margin: 0;
    position: fixed;
    top: 10px;
    right: 10px;
    
} */

.topStuff {
    padding: 0px;
    margin: 0;
    position: fixed;
    top: 10px;
    right: 10px;
}

.EntirePage {
    /* display: flex;
    
    flex-direction: column;
    align-items: center; */
    min-height: 100vh;
    font-family: 'Roboto';
    background-color: #F7F9FB;
}

#google {
    padding: 0px;
    margin-top: 10px;
    display: flex;
    justify-content: right;

}

.Method {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    padding: 30px;
    font-size: 50px;
}

#typeOfSearch{
    display: flex;
    justify-content: center;
    padding: 40px;
}


#newSearchLabel {
    padding: 0px 0px 0px 0px;
    font-weight: bold;
    font-size: 20px;
}
#newSearchInput { 
    font-size: 20px;
    /* min-width: 100px; */
    width: 20em;
    padding: 0px;
    margin-left: 10px;
}

#newSearchButton {
    color: blue;
    padding: 2px 3px 2px 3px;
    margin-left: 10px;
    font-style: 20px;
}

#showOutputId {
    border: solid black;
    padding: 10px;
    margin: 20px;
    background-color: #7de7d7;
    display: none;
}

#restaurantCardId {
    border: black solid;
    padding: 10px;
    margin: 10px;
    
}

#listOutputId {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
}

#restaurantNameId, #restaurantTagsId, #restaurantStyleId{
    
    border: 2px solid;
    padding: 10px;
    /* word-break: break-word; */
    overflow: hidden;
}
