body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.label{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

input{
    margin-left: 2em;
}
